
.user-details-grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
}

.user-details-main-content {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add some padding */
    width: 80vw;
}


.weekly-table {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.weekly-table h3 {
    margin-bottom: 10px;
    color: #2c3e50; /* Dark blue for headings */
}

.weekly-table .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.weekly-table .styled-table th,
.weekly-table .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.weekly-table .styled-table th {
    background-color: #522d74; /* Blue for header background */
    color: white; /* White text for header */
}

.weekly-table .styled-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}

.weekly-table .styled-table tr:nth-child(odd) {
    background-color: #ecf0f1; /* Slightly darker gray for odd rows */
}

.weekly-table .styled-table tr:hover {
    background-color: #dfe6e9; /* Light gray on hover */
}

.weekly-table .styled-table td {
    color: #34495e; /* Dark gray for table data */
}

.weekly-table .styled-table tr:hover td {
    color: #2c3e50; /* Dark blue text on row hover */
}
