/* ForgotPassword.css */
.btn-light-green {
    background-color: #26d2b0 !important; /* Light green color */
    color: white;
    border: none;
}
@media (min-width: 712px) {
    .page-container {
        flex-direction: row; /* Switch to row layout on larger screens */
    }

    .left-side, .right-side {
        flex: 1; /* Occupy equal space */
    }

    .left-image {
        height: 100%; /* Ensure the image fills the left side */
    }
}